/*static/css/main.css*/
a{
  text-decoration: none;
  color: rgb(6, 100, 138)
}

a:hover{
  color: rgb(35, 118, 226);
}

a img:hover{
  opacity: .7;
}

.region{
  max-width: 1100px;
  margin: 0 auto;
}

body{
  margin: 0;
  padding: 0;
  font: 14px/1.5 OdorMeanChey;
  background: lightgrey;
}

#blog-header{
  background: lavender;
  margin: 0;
  padding: 0;
}

#blog-header div{
  padding: 7px;
  display: grid;
  grid-template-columns: 40px auto auto auto;
  align-items: center;
}

#blog-header #blog-title{
  font: 30px/1.5 Moul;
}

#blog-header img{
  max-height: 40px;
}

#blog-header #log-in{
  text-align: right;
}

#blog-header form.search{
  display:grid;
  grid-template-columns: 75% 25%;
}
#blog-header form.search input[type=text] {
  padding: 7px 10px;
  box-sizing: border-box;
}
#blog-header form.search button {
  cursor: pointer;
  width:100%;
  font: 14px/1.5 OdorMeanChey;
}
#blog-header form.search button:hover {
  opacity:.6;
}

#header-border{
  background: rgb(190, 189, 189);
  height: 20px;
}

#main{
  display: grid;
  grid-template-columns: 20% calc(80% - 15px);
  grid-gap: 15px;
  margin-top: 15px;
}

@media only screen and (max-width: 600px){
  #blog-header div{
    
    grid-template-columns: 100%;
    text-align: center;
  }

  #blog-header form.search{
    padding: 10px;
  }

  #blog-header #log-in{
    text-align: center;
  }

  #main{
    grid-template-columns: 100%;
  }
}

.footer{
  min-height: 150px;
  background:  lavender;
  padding: 0px;
  box-sizing: border-box;
  margin: 15px auto;
}
.post-panel{
  padding: 15px;
  font: 16px/1.5 Oswald, Limonf3;
  display: grid;
  grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
  grid-gap: 15px;
  margin-bottom: 15px;
}
.post-panel:last-child{
  margin-bottom: 0;
}
.post-panel .post-thumb{
  display: block;
  overflow: hidden;
}
.post-panel .post-thumb img{
  width: 100%;
  min-height: 100%;
  float: left;
  margin-bottom: 5px;
}
.post-panel .post-title{
  text-align: left;
  display: block;
}
.post-panel .post-author{
  text-align: right;
}
.post-panel .post-date{
  font: bold 14px/1.5 'Lucida Sans';
}
@media only screen and (max-width: 600px){
  .post-panel{
    grid-template-columns: 100%;
  }
}
#pagination{
  text-align: center;
  padding: 0 0 5px;
}
#pagination img:hover{
  opacity: .5;
  cursor: pointer;
}