/*public\fonts\setup.css*/
@font-face {
  font-family: Moul;
  src: url(Moul.ttf);
}
@font-face {
  font-family: Koulen;
  src: url(Koulen.ttf);
}
@font-face {
  font-family: OdorMeanChey;
  src: url(OdorMeanChey.ttf);
}
@font-face {
  font-family: Rooster;
  src: url(Rooster.ttf);
}
@font-face {
  font-family: Limonf3;
  src: url(Limonf3.ttf);
}
@font-face {
  font-family: HandWriting;
  src: url(HandWriting.ttf);
}